services:
  frontend:
    env_file:
      - .env
    build:
      context: .
      dockerfile: frontend.Dockerfile
      args:
        NEXT_PUBLIC_API_URL: /api
    # expose:
    #   - "3000"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./mockbe
      dockerfile: backend.Dockerfile
    env_file:
      - .env
    expose:
      - "${FLASK_RUN_PORT}"
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - "${FRONTEND_PORT}:80"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
