services:
  frontend:
    env_file:
      - .env
    build:
      context: .
      dockerfile: frontend.Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${BACKEND_URL}
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./mockbe
      dockerfile: backend.Dockerfile
    env_file:
      - .env
    ports:
      - "${FLASK_RUN_PORT}:${FLASK_RUN_PORT}"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
