services:
  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
      args:
        NEXT_PUBLIC_API_URL: http://127.0.0.1:8080/api
    ports:
      - "3000:3000"
    
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./mockbe
      dockerfile: backend.Dockerfile
    ports:
      - "18080:8080"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
